body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgb(105, 111, 117),rgb(49, 84, 112));
    justify-content: center;
}
.form{
    margin: 200px auto;
    background: rgb(147, 170, 183);
    border-radius: 15px;
    padding: 25px;
    width: 820px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
    
}
.Email {
    margin-left: 18px;
}
.Login {
    position: absolute;
    top: 22%;
    left: 55%;
    padding: 30px;
    margin: auto;
		
}

#linha-vertical {
    position: absolute;
    top: 24%;
    margin-left: 55%;
    height: 230px;
    border-right: 1px solid rgb(81, 79, 79);
}
.email {
    margin-left:210px;
}
legend {
    color: rgb(224, 246, 249);
  }
input {
    background-color: rgb(20, 75, 75);
    border-radius: 2px;
    width: 200px;
    padding: 10px;
    color:white;
}
::placeholder {
    color:rgb(217, 242, 245);
}

.InputBox {
    margin-bottom: 2em;
}

.botao,.botao2 {
    font-size: 1.2em;
    background: hsl(210, 96%, 30%);
    border: 0;
    padding: 10px;
    width:27%;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.botao2 {
    width:100%;
}
.botao:hover,.botao2:hover {
    background: #819ee1;
    cursor: pointer;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}


