body {
    font-family: 'Roboto', sans-serif; /*Fonte */
    color: rgb(238, 241, 241); /*Cor do texto */
    background-image: linear-gradient(to right, rgb(94, 47, 38), rgb(193, 69, 69)); /*Cor do Fundo */
    
    
}
main > .container {
    margin-top: 130px;
    width: auto;
    max-width: 600px;
  }
.form {
    max-width: 530px; 
    height: 420px;
    background: rgb(119, 7, 7); /*Cor do formulario */
    border-radius: 20px;
    padding: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363); /*Sombra */
}

input {
    margin-top: auto;
    background-color: rgb(198, 201, 201); /*Cor do botao*/
    border-radius: 10px;
    width: 465px;
    height: 50px;
    padding: 10px;
    color: rgb(0, 0, 0); /*Cor da letra do botao */
}

::placeholder {
    color: rgb(148, 143, 143); /*cor da caixa */
}

.InputBox {
    margin-bottom: 2em;
}


.botao2 {
    font-size: 1.2em;
    color: azure;
    background: hsl(0, 64%, 42%);
    border: 0;
    padding: 10px;
    width: 99%;
    height: 60px;
    font-size: 15px;
    border-radius: 15px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}


.botao2:hover {
    background: hsla(0, 64%, 46%, 0.825); /*cor do botao ao passar o mouse */
    cursor: pointer;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: none;
}

@media(max-width:720px) {
    .form {
        max-width: 360px;
    }
    input {
        width:300px;
    }
    .botao2 {
         width: 100%;
    }
    *, ::after, ::before {
    box-sizing: none;
    }
}

