fieldset {
  max-width: 500px;
  margin: auto;
  padding: 50px 20px;
  background: #e9e9e9;
  border-radius: 8px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
}
#text,
#number,
#select {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  background-color: #fbfbfb;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 25px;
}
#select {
  padding: 6px;
  height: 50px;
  border-radius: 2px;
}
.select2-container--default .select2-selection--single {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 16px;
  height: 50px;
  margin: 0;
  outline: 0;
  padding: 10px;
  border-radius: 2px;
  width: 450px;
  background-color: #fbfbfb;
  color: #9ba8b1;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
 
}
.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 2px solid black;
  background-color: #fff;
}
#modal-header {
  background: #3a3737;
  color: #fff;
}
.modal-title {
  text-align: center;
}
#titulo {
  font-family: "Titillium Web", sans-serif;
  margin-left: 230px;
}
#close {
  color: #fff;
}

