@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&family=Titillium+Web:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body { 
  background-image: radial-gradient(#d63f3f, #811818);
  /*background-color: #811818;*/
  color: #fff;
 /* font-family: 'Roboto';*/
  font-family: 'Montserrat', sans-serif;
 /*font-family: 'Source Serif Pro', serif;*/
}
main > .container {
  width: auto;
  max-width: 1020px;
  padding: 60px 15px;
}
header {
  margin-bottom: 160px;
}
.titulo {
  text-align: center;
  margin-bottom: 25px;
}
h1,h2 {
  text-align: center;
}
.logo {
  padding-top: 8px;
  width: 160px;
  height: 160px;
}
.navbar-expand-md {
  background-color: #222222;
  height: 160px;
}

.button {
  position: relative;
  margin-right: 0px;
  width: 100px;
  height: 40px;
  border-radius: 25px;
  box-shadow: 0 0 2.5px 0 #39a239;
  cursor: pointer;
  background-color: #ffff;
}

.container-fluid {
  /*Posição do Texto da barra de Navegação coloquei mais por centro */
  justify-content: center;
  
}

a.nav-link.active:hover {
  /*cor de fundo ao passar o mouse pelo itens do menu */
  color: #d2d1d4;
  text-decoration:underline;
}

.navbar-brand:hover {
  color: #d5cdcd;
}

#loginButton {
  background-color: rgba(44, 189, 44, 0.745);
  border-radius:30px;
  padding: 1px 30px;
  color: aliceblue;
  text-decoration: solid;
}
#loginButton:hover {
  background-color: rgba(38, 177, 38, 0.959);
}
* {
  padding: 0;
  margin: 0%;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
}

.container-fluid {
  margin-left: 28%;
}

@media (max-width: 1900px) {
  .container-fluid {
    margin-left: 23%;
  }
}
@media (max-width: 1600px) {
    .container-fluid {
      margin-left: 22%;
    }
  }
  @media (max-width: 1280px) {
    .container-fluid {
      margin-left: 0%;
      padding-left: 180px;
    }
  }
  @media (max-width: 1100px) {
    .container-fluid {
      margin-left: 0%;
      padding-left: 30px;
    }
  }
  td {
    max-width:300px;
   overflow-wrap: break-word;
  }

  /*Paginacao*/
  .active>.page-link, .page-link.active {
    z-index: 3;
    color: #fff;
    background-color: #000000;
    border-color: #d3c0c0;
}
  .page-link {
    background-color: #fff;
    color: #000000;
  }

  
  
  hr {
    color: #fff;
     border: 2px solid;
     border-radius: 5px;
   }