/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

/* main > .container {
  padding: 60px 15px 0;
} */

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

